/* frontEnd/src/Main.css */

body {
  margin: 0;
  font-family: 'Roboto', sans-serif; /* Updated to Roboto font */
  background-color: #f5f5f5;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  display: flex;
  flex: 1;
}

.main-content {
  flex: 1;
  padding-left: 20px;
  background-color: #fafafa;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Ensures button aligns right */
.help-button {
  padding: 8px 12px ;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto; /* Pushes it to the right */
  margin-right: 12px;
}

.help-button:hover {
  background-color: #0056b3;
}

.file-type{
  font-weight: bold;
}

.help-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Dark semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensures it's on top */
}

.help-box {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative; /* Keeps it above the overlay */
  z-index: 1001;
}

.help-box button {
  margin-top: 10px;
  padding: 8px 12px;
  cursor: pointer;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 5px;
}

.help-box button:hover {
  background: #0056b3;
}

/* Spinner Overlay Styles */
.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it overlays other elements */
}

/* Spinner Container Styles */
.spinner-container {
  position: relative;
  background-color: #ffffff;
  padding: 20px;
  width: 400px;
  border-radius: 8px;
  text-align: center;
}

/* Close Button Styles */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

/* Spinner Message Styles */
.spinner-message {
  margin-top: 20px;
}

.spinner-message p {
  font-size: 16px;
  margin-bottom: 20px;
}

/* Spinner Styles */
.spinner {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border: 4px solid #e0e0de;
  border-top: 4px solid #800000; /* Maroon color for the spinner */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* Spinner Animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
