/* frontEnd/src/components/Navbar.css */

.navbar {
    background-color: #660000; /* Virginia Tech Maroon */
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-title {
    font-size: 20px;
    font-weight: bold;
  }
  
  .navbar-user {
    display: flex;
    align-items: center;
  }
  
  .navbar-user button {
    margin-left: 5px; /* Reduced spacing */
  }
  
  .logout-button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
  }
  
  .logout-button:hover {
    text-decoration: underline;
  }
  