.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner {
    position: relative;
    padding: 48px; /* Increased padding for a spacious feel */
    width: 100%;
    max-width: 800px; /* Increased max width for a larger popup */
    min-height: 400px; /* Set a minimum height for better visibility */
    height: auto; /* Allow auto height based on content */
    background-color: #FFF;
}

.popup-inner .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
}
