/* frontEnd/src/components/Sidebar.css */

.sidebar {
    width: 250px;
    background-color: #fff;
    border-right: 1px solid #ddd;
    padding: 20px;
    box-sizing: border-box;
    height: calc(100vh - 50px); /* Adjust based on navbar height */
    overflow-y: auto;
  }
  
  .sidebar h3 {
    color: #660000;
    margin-bottom: 10px;
  }
  
  .sidebar select, 
  .sidebar input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .sidebar button {
    width: 100%;
    background-color: #660000;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .sidebar button:hover {
    background-color: #8b0000;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    background-color: #eee;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .sidebar li button {
    background-color: #cc0000;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .sidebar li button:hover {
    background-color: #ff6666;
  }
  